<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tune Search</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  
  <div class="jumbotron">
    <h1>hayyyy</h1>
    <p>Find the lyrics to a song or discover new music.</p>
  </div>

<div class="container">
    <button id="switch" type="button" class="btn btn-default btn-sm">switcheroo</button><br><br>
    <button id="stop" type="button" class="btn btn-default btn-sm">stoperoo</button><br><br>
    
    
    <input type="text" name="searchKey" placeholder="Find lyrics!"></input>
    <button id="search" type="button" class="btn btn-default btn-sm">search lyrics</button><br><br>
    
    
    
    <div id="albums"></div>
    <img src="https://media.giphy.com/media/d2YZa5B3lEAH1soo/giphy.gif" id="art"></img>
    <p id="albumInfo">
      
    </p>
    <p id="lyrics"></p>
    <script src="../static/mycode.js"></script>      
</div>

</body>
</html>
